@tailwind base;

@tailwind utilities;

#root, #root > div, #root > div > main {
  height:100%;
}

#root > main {
  display: flex;
  flex-direction: column;
}

.ant-menu-horizontal {
  display: flex;
}

.ant-menu-horizontal > .ant-menu-submenu:nth-of-type(4), .ant-menu-horizontal > .ant-menu-item:nth-of-type(4) {
  margin-left: auto;
}

.login-card .ant-menu-item {
  width: 50%;
}

.w-300 {
  width: 300px;
}

@media (min-width: 768px) {

  .md\:w-400 {
    width: 400px;
  }
}

.flex-2 {
  flex: 2
}
.flex-3 {
  flex: 3
}
.flex-4 {
  flex: 4
}